[Unit]
Description=Fix virbr0 forwarding rules for libvirt VMs
After=docker.service libvirtd.service
Requires=docker.service libvirtd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nft add rule ip filter DOCKER-USER iifname "virbr0" accept
ExecStart=/usr/bin/nft add rule ip filter DOCKER-USER oifname "virbr0" ct state established,related accept
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
